[include]
  path = .gituser

[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=2 -RFX

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  pl = pull
  pul = pull
  ps = push
  pus = push
  today = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --stat
  lf = !sh -c 'git lg --grep=$1 --max-count=5' -
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  # lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  patch = !git --no-pager diff --no-color

[color]
  status = always
  diff = always

[push]
  default = simple

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[credential]
  helper = cache
